body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.cat-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cats-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cat-temperament {
  width: 600px;
}
.cat-name {
  color: teal;
}

.breed-select {
  width: 600px;
  height: 50px;
  font-size: large;
  color: black;
  text-align: center;
  background-color: white;
  border: 2px solid teal;
  border-radius: 10px;
}

.cat-description {
  width: 600px;
}

h1,
h2 {
  margin: 0;
}

.temperament-span {
  font-weight: bold;
  font-style: italic;
  color: teal;
}

.loader {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.loader-spinner {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader-spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
